body{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,a,span,li,ul,p, label{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'inter';
    
}
.container{
    margin:0 15px;
    @media (min-width: 991px){
        margin: 0 80px;
    }
    @media (min-width: 1300px){
        margin: auto;
        max-width: 1216px;
    }
}
$firstColor: #007BD5;
$headingColor: #111827;
$textColor: #6B7280;
