body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, a, span, li, ul, p, label {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'inter';
}

.container {
  margin: 0 7%;
}

@media (min-width: 991px) {
  .container {
    margin: 0 80px;
  }
}

@media (min-width: 1300px) {
  .container {
    margin: auto;
    max-width: 1216px;
  }
}

.site-header {
  padding-bottom: 24px;
}

.site-header .menu {
  margin-top: 24px;
}

@media (min-width: 992px) {
  .site-header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-header .menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .site-header .menu .logo {
    margin-right: 20px;
  }
}

.site-header .menu .logo .logo-svg {
  width: 230px;
}

@media (min-width: 1199px) {
  .site-header .menu .logo .logo-svg {
    width: auto;
  }
}

@media (min-width: 991px) {
  .site-header .menu .logo .menu-toggler {
    display: none;
  }
}

.site-header .menu .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  left: -100%;
  background: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (min-width: 992px) {
  .site-header .menu .navigation {
    display: block;
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    left: unset;
    background: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    z-index: unset;
  }
}

.site-header .menu .navigation ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .site-header .menu .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

.site-header .menu .navigation ul li {
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .site-header .menu .navigation ul li {
    margin-bottom: unset;
  }
}

.site-header .menu .navigation ul li a {
  color: #111827;
}

@media (min-width: 992px) {
  .site-header .menu .navigation ul li a {
    margin-left: 24px;
  }
}

.site-header .menu .navigation ul li a[aria-current="page"] {
  color: #007BD5;
}

.site-header .menu .navigation .close-menu {
  position: absolute;
  top: 41px;
  right: 7%;
}

@media (min-width: 992px) {
  .site-header .menu .navigation .close-menu {
    display: none;
  }
}

.site-header .menu .navigation.active {
  left: 0;
}

.site-header .top-header {
  padding: 15px;
  border-bottom: 1px solid #E5E7EB;
  display: none;
}

@media (min-width: 992px) {
  .site-header .top-header {
    display: block;
  }
}

.site-header .top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header .top-header .container a, .site-header .top-header .container p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #111827;
}

.site-header .top-header .container .mail-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header .top-header .container .mail-phone .contact-item:first-child {
  margin-right: 35px;
}

.site-header .top-header .container .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .top-header .container .contact-item .icon {
  margin-right: 15px;
}

body.hidden {
  overflow: hidden;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner .banner-image {
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  z-index: -1;
}

.banner .banner-image picture {
  height: 100vh;
}

.banner .banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
}

@media (min-width: 992px) {
  .banner .banner-content {
    width: 50%;
  }
}

.banner .banner-content h1 {
  font-size: 28px;
  color: #fff;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .banner .banner-content h1 {
    font-size: 40px;
    line-height: 48px;
  }
}

.banner .banner-content p {
  font-size: 16px;
  color: #fff;
  line-height: 20px;
}

@media (min-width: 992px) {
  .banner .banner-content p {
    font-size: 24px;
    line-height: 32px;
    width: 70%;
    text-align: center;
  }
}

.largeBanner {
  height: 100vh;
}

.largeBanner .gatsby-image-wrapper div {
  height: 100vh;
}

.largeBanner .gatsby-image-wrapper img {
  height: 100vh;
}

.smallBanner {
  height: 180px;
}

.smallBanner .gatsby-image-wrapper div {
  height: 180px;
}

.smallBanner .gatsby-image-wrapper img {
  height: 180px;
}

.text {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .text {
    margin-top: 100px;
  }
}

.text h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #111827;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .text h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

.text p {
  font-size: 16px;
  font-weight: 400;
  color: #6B7280;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .text p {
    margin-bottom: 52px;
    font-size: 18px;
  }
}

.plain-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-top: 50px;
}

@media (min-width: 767px) {
  .plain-text {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 991px) {
  .plain-text {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.plain-text .column {
  -webkit-box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1), 0px 4px 6px -4px rgba(16, 24, 40, 0.1);
          box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1), 0px 4px 6px -4px rgba(16, 24, 40, 0.1);
  border-radius: 6px;
  padding: 80px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: 1px solid transparent;
}

.plain-text .column:hover {
  border: 1px solid #007BD5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.plain-text .column h3 {
  font-size: 18px;
  color: #007BD5;
  line-height: 28px;
  text-align: center;
  margin: 16px 0;
}

@media (min-width: 991px) {
  .plain-text .column h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

.plain-text .column p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #6B7280;
}

.plain-text .column .gatsby-image-wrapper {
  width: 70px;
  height: 70px;
}

.plain-text .column .gatsby-image-wrapper div {
  width: 70px;
  height: 70px;
}

.plain-text .column .gatsby-image-wrapper img {
  width: 70px;
  height: 70px;
}

.coloredBanner {
  position: relative;
  background-color: #007BD5;
  margin-top: 50px;
}

@media (min-width: 992px) {
  .coloredBanner {
    margin-top: 90px;
  }
}

.coloredBanner .image {
  display: none;
}

@media (min-width: 992px) {
  .coloredBanner .image {
    display: block;
  }
}

.coloredBanner .image .gatsby-image-wrapper {
  height: 216px;
}

.coloredBanner .image .gatsby-image-wrapper div {
  height: 216px;
}

.coloredBanner .image .gatsby-image-wrapper img {
  height: 216px;
}

.coloredBanner .content {
  padding: 30px;
}

@media (min-width: 992px) {
  .coloredBanner .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
  }
}

.coloredBanner .content h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .coloredBanner .content h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

.coloredBanner .content p {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.about-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 991px) {
  .about-us {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.about-us .image {
  padding: 30px 30px 0 30px;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, white), color-stop(15%, #f3f4f6));
  background: linear-gradient(0deg, white 15%, #f3f4f6 15%);
}

@media (min-width: 991px) {
  .about-us .image {
    padding: 48px 0 48px 72px;
    background: #f3f4f6;
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, #f3f4f6), color-stop(85%, white));
    background: linear-gradient(90deg, #f3f4f6 85%, white 85%);
  }
}

@media (min-width: 991px) {
  .about-us .content {
    padding: 48px 0 0 48px;
  }
}

@media (min-width: 1300px) {
  .about-us .content {
    padding: 48px 0 0 136px;
  }
}

.about-us .content p {
  font-size: 16px;
  line-height: 24px;
  color: #6B7280;
  margin-bottom: 20px;
}

.services-titles {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

@media (min-width: 575px) {
  .services-titles {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 30px;
  }
}

@media (min-width: 991px) {
  .services-titles {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.services-titles .title {
  background-color: #007BD5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  border-radius: 5px;
}

.services-titles .title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  color: #fff;
}

.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 32px;
}

@media (min-width: 575px) {
  .images {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.swipers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swipers .swiper:first-child {
  height: 610px;
  width: 178px;
}

@media (max-width: 992px) {
  .swipers .swiper:first-child {
    display: none;
  }
}

.swipers .swiper:first-child .swiper-slide {
  height: 145px !important;
}

.swipers .swiper:first-child .swiper-slide img {
  width: 100%;
  height: 145px !important;
}

.swipers .swiper:first-child .swiper-slide .gatsby-image-wrapper {
  width: 100%;
  height: 145px !important;
}

.swipers .swiper:last-child {
  margin-left: 10px;
  width: 100%;
}

.swipers .swiper:last-child img {
  width: 100%;
}

@media (min-width: 992px) {
  .swipers .swiper:last-child img {
    height: 675px !important;
  }
}

.swipers .swiper:last-child .gatsby-image-wrapper {
  width: 100%;
}

@media (min-width: 992px) {
  .swipers .swiper:last-child .gatsby-image-wrapper {
    height: 675px !important;
  }
}

.swipers .arrows {
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 72.5px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .swipers .arrows {
    display: none;
  }
}

.swipers .review-swiper-button-prev {
  left: 0;
}

.swipers .review-swiper-button-next {
  left: 80px;
}

.form-info .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-info .contact-item .icon {
  background-color: #007BD5;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 26px;
}

.form-info .contact-item .icon svg path {
  stroke: #fff;
}

.form-info .contact-item .item-content h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111827;
}

@media (min-width: 575px) {
  .form-info .contact-item .item-content h3 {
    font-size: 18px;
    line-height: 28px;
  }
}

.form-info .contact-item .item-content p, .form-info .contact-item .item-content a {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #111827;
}

@media (min-width: 575px) {
  .form-info .contact-item .item-content p, .form-info .contact-item .item-content a {
    font-size: 18px;
    line-height: 28px;
  }
}

.form-info .contact-item .item-content .sm-item svg {
  margin-right: 15px;
}

.form-info .contact-item .item-content .sm-item svg:hover path {
  fill: #007BD5;
}

@media (min-width: 991px) {
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.form {
  margin-top: 50px;
}

@media (min-width: 991px) {
  .form {
    margin-top: 100px;
  }
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form form .name {
  width: 100%;
}

@media (min-width: 1199px) {
  .form form .name {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
}

.form form .form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.form form .form-data label {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #111827;
}

.form form .form-data input, .form form .form-data textarea {
  padding: 17px 10px;
  border: 1px solid #E5E7EB;
  outline: none;
}

.form form .form-data input:focus, .form form .form-data textarea:focus {
  border-color: #007BD5;
}

.form form .form-data textarea {
  min-height: 150px;
}

.form form button {
  background-color: #007BD5;
  color: #fff;
  outline: none;
  border: none;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.form form button:hover {
  background-color: #fff;
  color: #007BD5;
  border: 1px solid #007BD5;
}

.form form button:hover svg path {
  stroke: #007BD5;
}

@media (min-width: 992px) {
  .form form button {
    font-size: 18px;
    line-height: 28px;
    padding: 17px 35px;
  }
}

.top-footer {
  background-color: #007BD5;
  padding: 30px 0;
  margin-top: 50px;
}

@media (min-width: 991px) {
  .top-footer {
    margin-top: 100px;
  }
}

.top-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-footer p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 991px) {
  .top-footer p {
    font-size: 18px;
    line-height: 28px;
  }
}

.top-footer button {
  padding: 10px 25px 10px 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.top-footer button:hover {
  background-color: #fff;
  color: #007BD5;
  border: 1px solid #fff;
}

.site-footer {
  background-color: #F9FAFB;
  padding: 30px 0;
}

@media (min-width: 650px) {
  .site-footer .footer-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}

@media (min-width: 991px) {
  .site-footer .footer-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.site-footer a, .site-footer p {
  color: #6B7280;
  font-size: 16px;
  line-height: 24px;
}

.site-footer h3 {
  font-size: 16px;
  font-weight: 500;
  color: #111827;
  margin-bottom: 15px;
  margin-top: 30px;
}

.site-footer .footer-logo .logo {
  margin-bottom: 16px;
  width: 230px;
}

@media (min-width: 992px) {
  .site-footer .footer-logo .logo {
    width: auto;
  }
}

.site-footer .footer-logo .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 200px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.site-footer .footer-logo .location svg {
  margin-right: 15px;
}

.site-footer .sm-item svg {
  margin-right: 16px;
}

.site-footer .sm-item svg:hover path {
  fill: #007BD5;
}

.site-footer .copyright {
  margin-top: 62px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #E5E7EB;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 575px) {
  .site-footer .copyright {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}
/*# sourceMappingURL=main.css.map */